.main {
	border: solid black;
}

.main2 {
	border: solid black;
	background-color:#A1887F;
}

.main3 {
	border: solid black;
	background-color: #A1887F;
	width: 100%;
}
.title {
	font-weight: bold;
	font-size: 30px;
	text-align: center;
	width: 100%;
	border:solid gray;	
	background-color:blanchedalmond;
	color:darkcyan;
	
}

#enterBtn {
	text-align: center;
	width: 100%;
	margin-top: 100px;
	margin-bottom: 100px;
}

#enterMenu {
	text-align: center;
	border: solid gray;
	color:white
}

.contents {
	margin-top:20px;
	margin-bottom:20px;
	border-bottom: solid #EFEBE9;
}

#profile {
	border:solid gray;
	width: 100%;
	height: 25%;
	padding-bottom:1%;
	margin-top:5px;
	margin-bottom: 70px;
}

#picture {
	position: relative;
	bottom: 90px;
	text-align: center;
	display:inline-block;
	border:solid gray;
	width: 25%;
	height: 25%;
	padding-bottom:15%;
	margin-left: 300px;
	margin-right: 400px;
}


.imformation {
	text-align: center;
	display:inline-block;
	border:solid gray;
	width: 25%;
	height: 25%;
	padding-bottom:15%;
}

#journey {
	border:solid gray;
	font-size: 30px;
	text-align: center;
	padding-top:10px;
	padding-bottom: 10px;
}

#journey_btn {
	border:solid gray;
	text-align: center;
}

#intro {
	border: solid gray;
	text-align: center;
	padding-top:10px;
}

#changeUserIntro {
	border: solid gray;
	width: 100%;
	height: 30px;
}

.day {
	border: solid gray;
	text-align: center;
	font-size: 20px;
}




#bt {
	font-size: 30px;
}
.enter {
	font-size: 100px;
}


.imf {
	width:150px;
  	height:25px;
  	font-size:13px;
}

#userIntro {
	height:200px;
	font-size:200px;
}

.aaa {
	width:200px;
	font-size:200px;
}

.introduce {
	font-size:1000px;
}