.main {
	border: solid black;
}

.main2 {
	border: solid black;
	background-color:#A1887F;
}

.main3 {
	border: solid black;
	background-color: #A1887F;
}
.title {
	font-weight: bold;
	font-size: 30px;
	text-align: center;
	width: 100%;
	border:solid gray;	
	background-color:blanchedalmond;
	color:darkcyan;
	
}

#enterBtn {
	text-align: center;
	width: 100%;
	margin-top: 100px;
	margin-bottom: 100px;
}

#enterMenu {
	text-align: center;
	border: solid gray;
	color:white
}

.contents {
	margin-top:20px;
	margin-bottom:20px;
	border-bottom: solid #EFEBE9;
}

#profile {
	border:solid gray;
	height: 600px;
}

#picture {
	display:inline-block;
	position: relative;
	bottom: 190px;
	border:solid gray;
	width: 200px;
	height: 300px;
	margin-top: 300px;
	margin-left:150px;
}

.imformation {
	text-align: center;
	display:inline-block;
	border:solid gray;
	width: 500px;
	height: 300px;
	margin-left:200px;
	
}

#nm {
	
}







#bt {
	font-size: 30px;
}
.enter {
	font-size: 100px;
}


.imf {
	width:150px;
  	height:25px;
  	font-size:13px;
}

#userIntro {
	height:200px;
	font-size:200px;
}

.aaa {
	width:200px;
	font-size:200px;
}

.introduce {
	font-size:1000px;
}