.title {
	font-weight: bold;
	font-size: 30px;
}

.enter {
	font-size: 100px;
}


.imf {
	width:150px;
  	height:25px;
  	font-size:13px;
}

#userIntro {
	height:200px;
	font-size:200px;
}

.aaa {
	width:200px;
	font-size:200px;
}

.introduce {
	font-size:1000px;
}